# ===============================
# Node Modules
# ===============================
node_modules/
npm-debug.log*


# ===============================
# Environment Variables
# ===============================
.env


# ===============================
# Build Files
# ===============================
dist/
build/
.vite/
.next/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Coverage
# ===============================
coverage/

# ===============================
# Temporary Files
# ===============================
tmp/
temp/

# ===============================
# MongoDB Local Files (if any)
# ===============================
/data/db/

# ===============================
# Misc
# ===============================
*.local